.gradeDiv{
  background-color: #ff9800;
  margin-bottom: 0;
  padding:0em 1em 0em 1em;
  color: #ffffff;
}

.gradeDiv h1{
  display: inline-block;
  font-size: 4em;
  margin-left: 1em;
  color:white;
}

.gradeDiv h3{
  display: inline-block;
  font-size: 2em;
  color:white;
}

.workloadDiv{
  background-color: #189eff;
  padding: 0em 1em 0em 1em;
  color: #ffffff;
}

.workloadDiv h1{
  display: inline-block;
  font-size: 4em;
  margin-left: 1em;
  color:white;
}

.workloadDiv h3{
  display: inline-block;
  font-size: 2em;
  color:white;
}